<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= stylesheet_link_tag 'phases-editor' %>
    <%= javascript_include_tag 'phases-editor' %>
    <%= csrf_meta_tag %>    
  </head>
  <body>
    <%#= title %>
    <%= link_to 'Save Changes', '#save', :id => 'saveButton', :style => 'float:right;', :class => 'disabled' %>
		<style>
		
			body {padding:0; margin:0}
		
		</style>
    <nav>
      <%= link_to 'code', '#code' %>
      <%= link_to 'design', '#design' %>
      <%= link_to 'preview', '#preview' %>
    </nav>
    <div id="canvas"></div><!-- #canvas -->
  </body>
</html>