<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= stylesheet_link_tag 'phases-editor' %>
    <%= javascript_include_tag 'phases-editor' %>
    <%= csrf_meta_tag %>    
  </head>
  <body>
    <header id="liquid_phasesHeader" class="clearfix">
	    <%= link_to 'Save Changes', '#save', :id => 'saveButton', :style => 'float:right;', :class => 'disabled' %>
	    <nav>
	      <ul class="clearfix">
					<li><%= link_to 'code', '#code' %></li>
		      <li><%= link_to 'design', '#design', :class => "current" %></li>
		      <li><%= link_to 'preview', '#preview' %></li>
				</ul>
	    </nav>
		</header>
    <div id="canvas"></div><!-- #canvas -->
  </body>
</html>