<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= stylesheet_link_tag 'phases-editor' %>
    <%= javascript_include_tag 'phases-editor' %>
    <%= csrf_meta_tag %>    
  </head>
  <body>
    <%#= title %>
    <%= link_to 'Save Changes', '#save', :id => 'saveButton', :style => 'float:right;', :class => 'disabled' %>
    <nav>
      <%= link_to 'code', '#code' %>
      <%= link_to 'design', '#design' %>
      <%= link_to 'preview', '#preview' %>
    </nav>

		<style>
			#canvas iframe { width:746px; height: 300px; margin:0; border:none; }
		</style>
		
    <div id="canvas"></div><!-- #canvas -->
  </body>
</html>