<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= stylesheet_link_tag 'phases-editor' %>
    <%= javascript_include_tag 'phases-editor' %>
    <%= csrf_meta_tag %>    
  </head>
  <body>
    <div id="liquid_phasesHeader" class="clearfix">
			<%#= title %>
	    <%= link_to 'Save Changes', '#save', :id => 'saveButton', :style => 'float:right;', :class => 'disabled' %>
	    <nav>
	      <%= link_to 'code', '#code' %>
	      <%= link_to 'design', '#design' %>
	      <%= link_to 'preview', '#preview' %>
	    </nav>
		</div>
    <div id="canvas"></div><!-- #canvas -->
  </body>
</html>